/*

Flagfilter.com
Version 0.14

*/

* {box-sizing: border-box}

body {
	background-color: #ecf8f8;
}

h1 {
	font-family: 'Telex';
	font-size: 42px;
	font-weight: 800;
	display: flex;
	justify-content: center;
	padding: 4px;
}

#myButtons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 6px;
}

.filterbutton {
	font-family: 'Telex';
	font-size: 12px;
	border: none;
	margin: 0px 2px 2px 0px;
	outline: none;
	padding: 12px 16px;
	background-color: #c8eaea;
	cursor: pointer;
}

.filterbutton:hover {
	background-color: #b4e4e4;
}

.filterbutton.active {
	background-color: #44bbbb;
	color: white;
}

.textInputField {
	display: flex;
	justify-content: center;
	margin: 10px;
}

input {
	font-family: 'Telex';
	font-size: 12px;
	padding: 6px;
	width: 100%;
	max-width: 600px;
	border: 2px solid #c8eaea;
	border-radius: 4px;
	font-size: 16px;
	background-image: url('searchicon.png');
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
}

input:focus {
	outline: none;
	border: 2px solid #44bbbb;
	border-radius: 4px;
}

/* Preparation for banner
#topBannerSpace	{
	text-align: center;
	margin: 3px;
}

/* Shrink banner image automatically to fit box if too large 
#topBannerSpace img {
  max-width: 100%;
  height: auto;
} */

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

/* Container needed to position the overlay. Adjust the width as needed */
.flag {
	position: relative;
	width: 80%;
	max-width: 320px;
	margin: 3px;
	border: 1px solid #c8eaea;
}

/* Makes the overlay fit */
.image {
	display: block;
	width: 100%;
	height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	transition: .5s ease;
	opacity: 0;
	color: white;
	font-family: 'Telex';
	font-size: 16px;
	padding: 10px;
	text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.flag:hover .overlay {
	opacity: 1;
}

/* For mobile phones */
@media only screen and (max-width: 768px) {
	.flag {
		width: 100%;
		max-width: 160px;
	}
}

a {
	color: #44bbbb;
}

footer {
	font-family: 'Telex';
	font-size: 12px;
	text-align: center;
	padding: 30px 0px 10px 0px;
	color: #7cd0d0;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

.trigger_popup_fricc {
    cursor: pointer;
}
/* Popup box END */
