/*

Flagfilter.com
Version 0.18

*/

* {box-sizing: border-box}

body {
	background-color: #ecf8f8;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Telex';
	font-size: 42px;
	font-weight: 800;
	display: flex;
	justify-content: center;
	padding: 4px;
}

#myButtons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 6px;
}

.filterbutton {
	font-family: 'Telex';
	font-size: 12px;
	border: none;
	margin: 0px 2px 2px 0px;
	outline: none;
	padding: 12px 16px;
	background-color: #c8eaea;
	cursor: pointer;
}

.filterbutton.all {
	border: 2px solid #44bbbb;
}

.filterbutton:hover {
	background-color: #b4e4e4;
}

.filterbutton.active {
	background-color: #44bbbb;
	color: white;
}

#textInput {
	display: flex;
	justify-content: center;
	align-items: center;
}

.textInputField {
	width: 40%;
	width: 500px;
	margin-bottom: 4px;
	padding-left: 4px;
}

#myInput {
	font-family: 'Telex';
	font-size: 12px;
	padding: 6px;
	width: 100%;
	max-width: 600px;
	border: 2px solid #c8eaea;
	border-radius: 4px;
	font-size: 16px;
	background-image: url('searchicon.png');
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
}

#myInput:focus {
	outline: none;
	border: 2px solid #44bbbb;
	border-radius: 4px;
}

#searchCounter {
	font-family: 'Telex';
	font-size: 14px;
	color: #44bbbb;
	padding-left: 5px;
	padding-right: 5px;
}

/* #topBannerSpace	{
	text-align: center;
	margin: 3px;
} */

/* Shrink banner image automatically to fit box if too large 
#topBannerSpace img {
  max-width: 100%;
  height: auto;
} */

/*@media only screen and (min-width: 768px) {
	#topBannerSpace {
		display: flex;
		justify-content: center;
        margin-top: 15px;
		margin-bottom: 15px;
	}
	#topBannerSpace_mobile {
		display: none;
	}
}*/

/*@media only screen and (max-width: 768px) {
	#topBannerSpace_mobile {
		display: flex;
		justify-content: center;
        margin-top: 5px;
		margin-bottom: 5px;
	}
	#topBannerSpace {
		display: none;
	}
}*/

#gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

/* Container needed to position the overlay. Adjust the width as needed */
.flagobject {
	position: relative;
	width: 80%;
	max-width: 320px;
	margin: 3px;
	border: 1px solid #c8eaea;
}

/* Makes the overlay fit */
.flagobject img {
	display: block;
	width: 100%;
	height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	transition: .5s ease;
	opacity: 0;
	color: white;
	font-family: 'Telex';
	font-size: 16px;
	padding: 10px;
	text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.flagobject:hover .overlay {
	opacity: 1;
	cursor: pointer;
}

footer {
	font-family: 'Telex';
	font-size: 12px;
	text-align: center;
	padding: 30px 0px 10px 0px;
	color: #7cd0d0;
	/* color: #1F5555; */
}

footer a {
	color: #44bbbb;
	/* color: #2E7D7D; */
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s;
}

.modal-content {
	position: absolute;
	bottom: 10px;
	left: 20%;
	font-family: 'Georgia';
	/* justify-content: center; */
	/* margin-left: auto; */
	/* margin-right: auto; */
	background-color: #ecf8f8;
	/* width: 60%; */
	overflow-y: auto; /* Enable scroll if needed */
	height: 50%;
	/* max-width: 600px; */
	animation-name: slideIn;
	animation-duration: 0.4s;
}

.close {
  color: rgb(225, 225, 225);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
	background-color: #44bbbb;
	position: relative;
}

.modal-header h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
	width: 100%;
	color: white;
	font-family: 'Telex';
    font-size: 20px;
}

.modal-image {
	/* max-width: 640px; */
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.modal-body {
	padding: 2px 5px;
}

.modal-table th, td {
	padding: 0px 10px 0px 0px;
}

.modal-body b {
	font-weight: 700;
}

.modal-body p {
	line-height: 1.2;
}

.modal-footer {
	padding: 5px;
	background-color: #44bbbb;
	font-family: 'Telex';
	font-size: 12px;
}

.modal-footer a:link, .modal-footer a:visited {
	color: white;
}

/* Add Animation */ /*
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}  */
/*
@keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom: 0; opacity: 1}
}*/
/*
@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}*/

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

/* Modal ends here */

/* For mobile phones */
 @media only screen and (max-width: 1080px) {
	.modal-content {
		left: 10%;
		width: 80%;
	}
}

.modal-outer {
	display: grid;
	background: hsla(50, 100%, 50%, 0.7);
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	/* hide this modal until we need it */
	opacity: 0;
	pointer-events: none;
  }
  .modal-inner {
	max-width: 600px;
	min-width: 400px;
	padding: 2rem;
	border-radius: 5px;
	min-height: 200px;
	background: white;
  }
  .modal-outer.open {
	opacity: 1;
	pointer-events: all;
	transition: opacity 0.2s;
  }